{% load static %}
{% load timedelta_filter %}
{% load cards_extras %}
<html>
<head>
  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />

  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <link rel="stylesheet" type="text/css" href="{% static "css/table.css" %}">
</head>


<body>


<script type="text/javascript">
var start_time, end_time;

function reload () {
    window.location.replace("/cards/dashboard/?start_time=" + start_time + '&end_time=' + end_time +
      '&board=' + $('#board option:selected').text() + '&user=' + $('#person option:selected').text());
}


$(function() {
  start_time = '{{start_time|date:"Y-m-d" }}';
  end_time = '{{end_time|date:"Y-m-d" }}';

  $('input[name="daterange"]').daterangepicker({
      locale: {
          format: 'YYYY-MM-DD',
      },
      startDate: start_time,
      endDate: end_time,
    },
    function(start, end, label) {
        start_time = start.format('YYYY-MM-DD');
        end_time = end.format('YYYY-MM-DD');
        reload();
    }
  );

  $('#board').change(function() {
    reload();
  });

  $('#person').change(function() {
    reload();
  });

});
</script>

<h2>Filters</h2>
<input type="text" name="daterange" value=' - {{end_time|date:"SHORT_DATE_FORMAT" }}' />
<type="text"  id="daterange" name="daterange" value=' - {{end_time|date:"SHORT_DATE_FORMAT" }}' />

<select id="board">
     <option value="">Todos</option>
     {% for board in boards %}
       <option value="{{board.name}}"
            {% if board.name == board_name %}
                selected
            {% endif %}
       >{{board.name}}</option>
     {% endfor %}
</select>

<select id="person">
     <option value="">Todos</option>
     {% for member in m_dashboard.get_members %}
        <option value="{{member.member}}"
              {% if member.member.name == member_name %}
                  selected
              {% endif %}
        >{{member.member}}</option>
      {% endfor %}
</select>

{% for dashboard in dashboards %}

<h2>{{dashboard.board.name}} Board</h2>

<table class="nice" cellspacing='0'>
  <thead>
    <tr>
      <th rowspan="2">Throughput</th>
      <th colspan="{{dashboard.board.reaction_columns.count}}">Reaction Time</th>
      <th colspan="{{dashboard.board.cycle_columns.count}}">Cycle Time</th>
      <th rowspan="2">Lead Time</th>
      <th>Members</th>
      <th>Labels</th>
    </tr>
    <tr>
      {% for list in dashboard.board.reaction_columns %}
        <th>{{list.name}}</th>
      {% endfor %}
      {% for list in dashboard.board.cycle_columns %}
        <th>{{list.name}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for card, reaction_columns, cycle_columns in dashboard.all_cards_with_columns %}
      {% if card in member_filter.card_set.all or not member_filter %}
        {% if card in label_filter.card_set.all or not label_filter %}
          <tr>
            <td>{{card.title}}</td>
            {% for list in reaction_columns %}
              <td>{{list.time|timedelta:"{hours_total}" }}</td>
            {% endfor %}
            {% for list in cycle_columns %}
              <td>{{list.time|timedelta:"{hours_total}"}}</td>
            {% endfor %}
            <td>
              {% if card.is_done %}
                {% time_function_with_args card "lead_time" end_time %}
              {% else %}
                NOT FINISHED
              {% endif %}
            </td>
            <td>
              {% for member in card.member.all %}
                {{member}}
              {% endfor %}
            </td>
            <td>
              {% for label in card.labels.all %}
                {{label}}
              {% endfor %}
            </td>
          </tr>
        {% endif %}
      {% endif %}
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th rowspan="2">{{dashboard.throughput}}</th>
      <th colspan="{{dashboard.board.reaction_columns.count}}">{{dashboard.reaction_time|timedelta:"{days} days, {hours} hours"}}</th>
      <th colspan="{{dashboard.board.cycle_columns.count}}">{{dashboard.cycle_time|timedelta:"{days} days, {hours} hours"}}</th>
      <th rowspan="2">{{dashboard.lead_time|timedelta:"{days} days, {hours} hours"}}</th>
    </tr>
  </tfoot>
</table>

{% endfor %}

<table class="nice" cellspacing="0">
  <thead>
    <tr>
      <th>Members</th>
      <th>WIPS</th>
      <th>Lead Time</th>
      <th>Throughput</th>
    </tr>
  </thead>
  <tbody>
    {% for member in m_dashboard.get_members %}
      {% if member.member == member_filter or not member_filter %}
        <tr>
          <td>{{ member.member }}</td>
          <td>{{ member.wip }}</td>
          <td> {{ member.lead_time|timedelta:"{days} days, {hours} hours" }}</td>
          <td> {{ member.throughput }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'upload_metrics' %}?end_time={{m_dashboard.end_time|date:'Y-m-d'}}">Upload metrics until chosen end time to DB.</a>
</body>
